/*about section*/

	.rectangle {
	    height: 40%;
	    top: 16%;
	}

	.rectangle-small {
		height: 30%;
	}

	.title-desc-both {
    	top: 17%;
	}

/*contact section*/

	.contact-section {
		height: 40%;
	}

	.low-rect {
		height: 55%;
	}

	.low-rect-sm {
		height: 40%;
	}

	.footer {
		padding-left: 6.5%;
	}