	.title {
		height: 275px;
	}

	.rectangle2 {
		left: 90%;
	}

	.rectangle4 {
		right: 90%;
	}

	.phone-header {
		display: none;
	}

	.title-desc-both {
		top: 13%;
	}

	.portfolio-item {
		margin: 5%;
		width: 30%;
	}

	.img-info-header {
		padding-left: 2%;
	}

	.portfolio-items {
		padding-bottom: 0;
		padding-top: 0;
	}

	.fa-2x {
		font-size: 1em;
	}

	.github {
		margin-top: 5%;
    	margin-bottom: 2%;
	}