html, body {
    height: 100%;
    background-color: #eee;
}
    /*title section*/

    .title {
        min-height: 75%;
        background-color: #208A96;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .logo {
        background-image: url('../imgs/logo.png');
        background-repeat: no-repeat;
        height: 56px;
        position: absolute;
        width: 56px;
        margin-top:1%;
    }

    .header {
        background-image: linear-gradient(rgba(32, 138, 150, 0.71), #208A96);
        min-height: 5%;
    }

    .header-text {
        font-family: 'Raleway', sans-serif;
    }

    .menu-header {
        float: right;
        margin-top: 3%;
        font-size: 18px;
    }

    .menu-list {
        display: inline;
        margin-left: 70px;
        float: right;
    }
    .menu-list:hover{
        color: #eee;
        cursor: pointer;
    }

    .current {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    }

    .profile {
        background-image: url('../imgs/me.jpg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
    }

    .profile-image {
        height: 18%;
        width: 9%;
        position: absolute;
        right: 46%;
        top: 60%;
    }

    .title-desc-both {
        position: absolute;
        left: 15%;
        top: 16%;
    }

    .title-desc {
        font-family: 'Marcellus SC', serif;
        width: 30%;
    }

    #title-name {
        width: auto;
        font-size: 50px;
    }

    #title-wd {
        width: auto;
        font-size: 35px;
    }

    .rectangle {
        position: absolute;
        width: 10px;
        height: 45%;
        background-color: #eee;
        top: 15%;
    }

    .rectangle-small {
        height: 40%;
    }


    #rectangle1 {
        left: 90%;
        top: 15%;
    }

    #rectangle2 {
        position: absolute;
        left: 88%;
    }

    #rectangle3 {
        right: 90%;
    }

    #rectangle4 {
        right: 88%;
    }

    /*body section*/

    .body-row{
        height: 150%;
        background-color: #eee;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #eee;
    }

    /*about section*/

    #about {
        position: absolute;
        bottom: 32%;
    }

    .about-header {
        padding-top: 3%;
    }

    .about-section {
        height: 50%;
        max-height: 50%;
        width: 92%;
        left: 4%;
        margin-bottom: 5%;
    }

    .about-inner-section {
        height: 80%;
        width: 100%;
        margin-top: 10%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #834545;
        border-radius: 20px;
    }

    .sub-header {
        position: absolute;
        right: 45%;
        font-size: 50px;
    }

    /*portfolio section*/

    .portfolio-section {
        height: 75%;
        max-height: 75%;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #eee;
        /*background-image: linear-gradient(rgba(32, 138, 150, 0.71), #208A96);*/
    }

    .portfolio-inner-section {
        height: 90%;
        width: 92%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #834545;
        border-radius: 20px;
        margin-left: 4%;
        margin-top: 3.5%;
        background-color: #eee;
    }

    .portfolio-item {
        height: auto;
        position: absolute;
        width: 20%;
        top: 18%;
    }

    #ajii {
        left: 21%;
    }

    #asw {
        right: 21%;
    }

    .inside-img {
        max-height: 100%;
        max-width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #834545;
        border-radius: 5px;
    }

    .img-layer{
        padding-top: 2%;
        color: transparent;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .img-layer:hover {
        background-color: black;
        opacity: 0.9;
        color: white;
    }

    .img-layer-info {
        height: 100%;
        overflow-y: scroll;
    }

    .img-info-header {
        font-size: 20px;
        padding-top: 1%;
        padding-left: 22%;
        padding-bottom: 2%;
        max-height: 100%;
    }

    .img-info-list{
        margin-top: 10px;
        margin-left: -15px; 
    }

    .img-info-list-s {
        padding-bottom:15px;
    }

    /*contact section*/

    .contact-section {
        height: 50%;
        max-height: 50%;
    }

    .contact-inner {
        position: absolute;
        width: 90%;
        height: 100%;
        left: 5%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #834545;

    }

    .lower-rect {
        background-color: #208A96;
    }

    .contact-form {
        width: 35%;
        position: absolute;
        top: 15%;
        left: 32%;
        height: 40%;
    }

    .alert {
        display: inline;
        display: none;
    }

    .input-and-error {
        display: inline;
    }

    textarea.textarea-form {
        height: 50%;
    }

    .form-button {
        margin-top: 5px;
    }

    .github {
        position: absolute;
        display: inline;
        bottom: 5%;
        right:45%;
    }
    .github-text{
        color: black;
    }
    .github:hover {
        cursor: pointer;
        color: #4078c0;
    }

    a:hover{
        text-decoration: none;
    }

    /*footer section*/

    .footer {
        height:5%;
        max-height: 5%;
        padding-top: 15px;
        padding-left:5%;
    }
