/*title section*/	

	.rectangle {
		height: 30%;
		top: 12%;
	}

	.rectangle-small {
		height: 25%;
	}

	.title-desc-both {
		top: 24%;
	}

	.rectangle1 {
		left: 91%;
	}

	.rectangle3 {
		right: 91%;
	}

	.header {
		opacity: 0.9;
	}

/*about section*/

	.about-inner-section {
		padding-top: 8%;
	}

	#about {
		bottom:50%;
	}

	#portfolio {
		position: absolute;
		bottom: 4%;
	}

/*portfolio section*/

	.portfolio-item-phone {
        display: inline-block;
    }

    #pfolio-items-d {
    	display: block;
    }

    #pfolio-items {
        display: none;
    }

    .portfolio-item {
    	width: 39%;
    }

    .git-and-cv {
    	font-size: 18px;
    }

/*contact section*/

	.contact-form {
		width: 55%;
	}

	.contact-section {
		height: 30%;
	}

	.github {
		margin-top: 4%;
	}

	.low-rect {
		height: 55%;
	}

	.low-rect-sm {
		height: 45%;
	}
/*footer section*/

	.footer {
	    height: 0;
	    margin-bottom: 35px;
	    padding-top: 0;
	    padding-bottom: 0;
	}