/*title section*/	

	.header {
		min-height: 15%;
		opacity: 0.9;
	}

	.title {
		height: 300px;
	}

	.logo {
		margin-top: 0.5%;
	}

	.profile-image {
		top: 32%;
	}

	.phone-menu {
		display: block;
		font-size: 2em;
		margin-top: -7%;
	}

	.menu-header {
		display: none;
		text-align: center;
		padding: 0;
		width: 100%;
		margin-top: 0;
		transform: rotate(180deg);
	}

	.menu-list {
		display: block;
		float: none;
		margin: auto;
		padding-bottom: 8%;
		transform: rotate(-180deg);
	}

	#aboutlink {
		padding-top: 5%;
	}

	.current {
		border-style: none;
	}

	.rectangle {
		top: 19%;
	}

	.rectangle1 {
		left: 92%;
	}

	.rectangle3 {
		right: 92%;
	}

	.title-desc-both {
		top: 25%;
	}

/*about section*/

	.about-section {
		padding-top: 6%;
	}

/*portfolio section*/

	.portfolio-item-phone {
        display: inline-block;
    }

    #pfolio-items-d {
    	display: block;
    }

    #pfolio-items {
        display: none;
    }

	.portfolio-item {
		margin: 5%;
		width: 30%;
	}

	.portfolio-info-btn {
		font-size: 1.5em;
	}

	.img-info-header {
		padding-left: 2%;
	}

	.portfolio-items {
		padding-bottom: 0;
		padding-top: 0;
	}

	.github {
		margin-top: 5%;
    	margin-bottom: 2%;
	}

/*contact form*/

	.contact-form {
		width: 50%;
	}