/*title section*/	

	.header {
		min-height: 10%;
	}

	.phone-menu {
		display: block;
	}

	.menu-header {
		display: none;
		text-align: center;
		padding: 0;
		width: 100%;
		margin-top: 0;
		transform: rotate(180deg);
	}

	.navbar-default {
		background: transparent;
	}

	.menu-list {
		color: #FFFFFF;
		display: block;
		float: none;
		margin: auto;
		padding-bottom: 8%;
		transform: rotate(-180deg);
		width: 50%;
	}

	#aboutlink {
		padding-top: 5%;
	}

	.current {
		border-style: none;
	}

	.logo {
		margin-top: 3%;
	}

	.top-rectangles {
		top: 16%;
	}

	.title-desc-both {
	    position: relative;
	    top: 8%;
	    width: 68%;
	    margin: auto;
	    left: 0%;
	    padding-top: 18%;
	}

	.rectangle1 {
		left: 93%;
	}

	.rectangle3 {
		right: 93%;
	}

	.profile-image {
		top: 44%;
	}

	#title-name {
        width: auto;
        font-size: 50px;
    }

    #title-wd {
        width: auto;
        font-size: 35px;
    }

/*about section*/

	.about-header {
		padding-top: 15%;
	}

	.about-section {
		margin-bottom: 0%;
	}

/*portfolio section*/

	.portfolio-section {
		position: relative;
		height: auto;
	    max-height: none;
	}

	.portfolio-inner-section {
		position: relative;
		height: auto;
	}

	.portfolio-item {
    	position: relative;
    	width: 75%;
    	margin: auto;
    	margin-bottom: 15%;
	}

	.portfolio-items {
		padding-bottom: 0;
	}

	.portfolio-item-phone {
        display: inline-block;
    }

    #pfolio-items-d {
    	display: block;
    }

    #pfolio-items {
        display: none;
    }

	#ajii {
		left: 0%;
	}

	#asw {
		right: 0%;
	}

	.cv-container {
		width: 90%;
		margin: 2% auto 5% auto;
	}

	#portfolio {
		position: absolute;
		bottom:4%;
	}

/*contact section*/

	.contact-form {
		width: 70%;
	}


/*footer section*/

	.footer {
		text-align: center;
		margin-bottom: 10px;
	}