html, body {
    height: 100%;
    background-image: url('../imgs/body-background.png');
    /* Background pattern from subtlepatterns.com */
}
    /*title section*/

    .title {
        /*background: #25bb8e;*/
        /*background-image: url("../imgs/ZenBG-1.png"), url("../imgs/ZenBG-2.png");*/
        /*background-repeat: repeat-x, repeat;
        /*height: 550px;/*
        /*background-color: #208A96;*/
        /*new stuff*/
        height: 95%;
        background-image: url("../imgs/title-bg1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .logo {
        /*display: inline-block;*/
        display: none;
        background-image: url('../imgs/logo.png');
        background-repeat: no-repeat;
        height: 56px;
        width: 56px;
        margin-top:1%;
    }
    .logo:hover{
        cursor: pointer;
    }

    .header {
        /*background: #25bb8e;*/
        /*background-image: url("../imgs/ZenBG-1.png"), url("../imgs/ZenBG-2.png");*/
        background-repeat: repeat-x, repeat;
        /*background-image: linear-gradient(rgba(32, 138, 150, 0.71), #208A96);*/
        min-height: 5%;
        position: fixed;
    }

    .navbar {
        border: 0;
    }

    .navbar-default {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
        /*background: #000000; /* Old browsers */
        /*background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6-15 */
        /*background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
        /*background: linear-gradient(to bottom,  #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
        /*border-color: #B3B2B2;*/
        background: transparent;
    }

    .phone-menu {
        display: none;
        position: absolute;
        margin-left: 85%;
        margin-top: 5%;
        color: #eee;
        z-index: 1;
    }

    .header-text {
        font-family: 'Raleway', sans-serif;
    }

    .menu-header {
        float: right;
        margin-top: 3%;
        font-size: 18px;
    }

    .menu-list {
        color: #B3B2B2;
        display: inline;
        margin-left: 70px;
        float: right;
    }
    .menu-list:hover{
        color: #FFFFFF;
        cursor: pointer;
    }

    .current {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    }

    .profile {
        background-image: url('../imgs/me.jpg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
    }

    .profile-image {
        height: 140px;
        width: 141px;
        position: relative;
        margin: auto;
        top: 45%;
    }

    .title-desc-both {
        /*color: #eee;*/
        color: #eee;
        position: relative;
        left: 15%;
        top: 20%;
        height: 40%;
        width: 65%;
        padding-bottom: 10px;
    }

    .title-desc {
        font-family: 'Marcellus SC', serif;
        width: auto;
    }

    #title-name {
        width: auto;
        font-size: 70px;
    }

    #title-wd {
        width: auto;
        font-size: 45px;
    }

    .rectangle {
        position: absolute;
        width: 10px;
        height: 45%;
        top: 15%;
    }

    .rectangle-small {
        height: 40%;
    }

    .top-rectangles {
        /*background-image: url('../imgs/body-background1.png');*/
        background-color: #000000;
        visibility: hidden;
        display: none;
    }

    .rectangle1 {
        left: 90%;
    }

    .rectangle2 {
        left: 88%;
    }

    .rectangle3 {
        right: 90%;
    }

    .rectangle4 {
        right: 88%;
    }

    /*body section*/

    .body-row{
        height: auto;
    }

    /*about section*/

    #about {
        position: absolute;
        bottom: 50px;
    }

    .about-section {
        height: auto;
        width: 92%;
        left: 4%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #834545;
        border-radius: 20px;
    }

    .about-inner-section {
        height: auto;
        width: 100%;
        padding-top: 5%;
    }

    .sub-header {
        text-align: center;
        font-size: 50px;
    }

    .about-info {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        margin-top: 2%;
        margin-bottom: 8%;
    }

    .myskills {
        list-style-type: none;
        padding: 0;
        font-size: 24px;
    }

    /*portfolio section*/

    #portfolio {
        bottom: 60px;
        position: absolute;
    }

    #pfolio-items {
        display: block;
    }

    .portfolio-section {
        position: relative;
        height: auto;
    }

    .portfolio-inner-section {
        position: relative;
        height: 90%;
        width: 92%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #834545;
        border-radius: 20px;
        margin-left: 4%;
        margin-top: 3.5%;
    }

    .portfolio-card {
        display: inline;
    }

    .portfolio-items {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 4%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    #pfolio-items-d {
        display: none;
    }

    .portfolio-item-np {
        display: inline-block;
    }

    .portfolio-item {
        position: relative;
        width: 22%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .inside-img {
        max-height: 100%;
        max-width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #834545;
        border-radius: 5px;
    }

    .img-layer{
        padding-top: 2%;
        color: transparent;
        position: absolute;
        height: 96%;
        width: 100%;
        overflow: hidden;
    }
    .img-layer:hover {
        background-color: black;
        opacity: 0.9;
        color: white;
    }

    .img-layer-phone {
        padding-top: 2%;
        position: absolute;
        height: 95%;
        width: 100%;
        background-color: black;
        color: white;
        overflow: hidden;
    }

    .img-layer-info {
        height: 100%;
        overflow-y: scroll;
        text-align: left;
        margin-right: -200px;
        padding-right: 200px;
    }

    .img-info-header {
        font-size: 20px;
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 2%;
        max-height: 100%;
    }

    .img-info-list{
        margin-top: 10px;
        margin-left: -10px;
    }

    .img-info-list-s {
        padding-bottom:15px;
    }

    .portfolio-info-btn {
        height: auto;
        position: absolute;
        width: auto;
        z-index: 2;
        right: 5px;
        bottom: 30px;
    }

    .portfolio-info-back-btn {
        display: none;
        color: white;
    }

    .git-and-cv {
        padding-bottom: 2%;
        position: relative;
        width: 175px;
        margin: auto;
    }

    .github {
        position: relative;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .github:hover {
        cursor: pointer;
        color: #4078c0;
    }

    a:hover{
        text-decoration: none;
    }

    .cv-container {
        margin-top: 1%;
        text-align: center;
        margin-bottom: 3%;
    }

    .portfolio-link {
        font-size: 18px;
    }

    /*contact section*/

    .contact-section {
        height: auto;
    }

    .contact-inner {
        width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        border-bottom-style: solid;
        border-radius: 20px;
        border-bottom-width: 1px;
        border-bottom-color: #834545;

    }

    .lower-rect {
        background-color: #208A96;
    }

    .form {
        height: auto;
        text-align: left;
    }

    .contact-form {
        width: 35%;
        height: 100%;
        margin: auto;
    }

    .alert {
        display: block;
    }

    .non-r-alert {
        display: none;
    }

    .email-user-message {
        text-align: center;
        margin: auto;
        width: 40%;
    }

    .input-and-error {
        display: inline;
    }

    textarea.textarea-form {
        height: 150px;
    }

    .form-button {
        margin-top: 5px;
    }
    .form-button:hover{
        background-image: linear-gradient(rgba(32, 138, 150, 0.71), #208A96);
    }

    label {
        margin-bottom: 2px;
        margin-top: 5px;
        margin-left: -10px;
    }

    /*footer section*/

    .footer {
        height:5%;
        max-height: 5%;
        padding-top: 15px;
        padding-left:6%;
        padding-bottom: 2%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
    }
